
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signup-title {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}
/* styles.css */

.body1 {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
}

.card__username {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__party-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__party-name {
  font-size: 16px;
  font-weight: bold;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

